body {
    padding-left: 10px; 
    /* max-width: max-content;   */
}

h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 700; color:#202020;
  text-transform: uppercase;
  word-spacing: 1px; letter-spacing:2px;
  margin-top: 25px;
  margin-bottom: 50px;
}

table, td, th {  
  border-bottom: 1px solid #ddd;
  text-align: left;
}
  
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 15%;

}

th, td {
  padding: 10px;
}

img {
  max-width: 100%;
}

th {
  background-color: #9b88b8;
  color: white;
}

tr:hover {background-color: #f5f5f5;}

#imagecell {
  max-width: 150px;
  height: 150px;
}

.content {
  display: inline;
}

input,
span,
label,
textarea {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 0px;
  border: none;
  font-size: 10px;
}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.question,
textarea.question {
  font-size: 20px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 25%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 25%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 25%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -55px;
  font-size: 22px;
  color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -80px;
  font-size: 22px;
  color: #333;
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 100;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 25px;
  top: -35px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.btn {
    padding: 0px 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #777d8c;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px #777d8c;
    margin-left: 0px;
  }
  
  .btn:hover {background-color: #ccbfff}
  
  .btn:active {
    background-color: #ccbfff;
    box-shadow: 0 1px #b8b8b8;
    transform: translateY(2px);
  }

  details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
  }
  
  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  