<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <style>
        body {
          font-family: Helvetica, sans-serif;
        }
    </style>
    {% block head %} {% endblock %}
</head>
<body>
    <nav class="navMenu">
        <div class="navbar">
            <a class="navbarlink" href="/register">Register</a>
            <a class="navbarlink" href="/signin">Signin</a>
            <a class="navbarlink" href="/">Home</a>
            <a class="navbarlink" style="float: right;" href="/sesh">{{ sesh }}</a>
        </div>
      </nav>
    {% block body %} {% endblock %}
</body>
</html>