{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<title>Wishlist</title>
{% endblock %}

{% block body %}
<h1>Wishlist</h1>
<div class="content"></div>
    <form class="inptfrm" action="/", method="POST">
        <input type="url" name="content" class="question" required>
        <label for="nme"><span>Paste link here to add to list</span></label>  
        <input type="submit" class="btn" value="add item"><br>
        <p><u><b>Automatic-data entry websites:</u><br></b>{{wsr}}</p>
        <p style="font-size: small;">&#9888; Items from the above websites will not be added <b>if link is invalid</b> or if already exists below.</p>
        <br>
    </form>
</div>

<div class="wrapper">
{% for item in items %}
<div class="card">
    <a class="imgbtn" href="{{item.link}}" target="_blank"><img src='{{ item.image }}'></a>
    
    <div style="padding: 0 5px;" class="prodd">
        <h4>{{ item.name }}</h4>
        <p>Store: {{ item.site_name }}</p>
        <p>Price: {{ item.price }}</p>
        
        <a class="actlinks" href="/delete/{{item.name}}">Remove</a>
    </div>
    
    
</div>
{% endfor %}
</div>
<footer>
    <p>Select any image to go to product page</p>
</footer>
{% endblock %}
