{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<title>Wishlist</title>
{% endblock %}

{% block body %}
<h1>Wishlist</h1>
<div class="content"></div>
    <form class="inptfrm" action="/", method="POST">
        <input type="url" name="content" class="question" required>
        <label for="nme"><span>Paste link here to add to list</span></label>  
        <input type="submit" class="btn" value="add item"><br>
        <p><u><b>Automatic-data entry websites:</u> </b>{{wsr}}</p>
        <p style="font-size: small;">&#9888; Items from the above websites will not be added <b>if link is invalid</b> or if already exists in list.</p>
    </form>
    <br>

    <table>
        <tr>
            <th>Image</th>
            <th>Item / page name</th>
            <th>Store link</th>
            <th></th>
        </tr>
        {% for item in items %}
            <tr>
                <td id="imagecell"><img src='{{ item.image }}' ></td>

                <td>{{ item.name }}<br><br>Price: {{ item.price }}<br><br>
                    <details>Date added: {{ item.date_added.date() }}<br>
                        From: {{ item.site_name }}
                        <summary>Details</summary></details></td>
                </td>

                <td><a href="{{item.link}}" target="_blank">Product(s) page</a></td>

                <td>
                    <a href="/delete/{{item.name}}">Remove</a>
                    <!-- <a href="/update/{{item.link}}">Update</a> -->
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
