{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<title>Wishlist</title>
{% endblock %}

{% block body %}
<h1>Wishlist</h1>
<div class="content"></div>
    <form class="inptfrm" action="/", method="POST">
        <input type="url" name="content" class="question" required>
        <label for="nme"><span>Paste link here to add to list</span></label>  
        <input type="submit" class="btn" value="add item"><br>
        <p><u><b>Automatic-data entry websites:</u><br></b>{{wsr}}</p>
        <p style="font-size: small;">&#9888; Items from the above websites will not be added <b>if link is invalid</b> or if already exists below.</p>
        <br>
    </form>
</div>

<div class="wrapper">
{% for item in items %}
<div style="max-width: 190px;">
    <table id="container">
        <tr><td style="padding: 5px;">{{ item.site_name }}</td></tr>
        <tr><td id="imagecell">
            <a href="{{item.link}}" target="_blank">
            <img src='{{ item.image }}'></td></tr></a>

        <tr><td>{{ item.name }}<br>
        <br>Price: {{ item.price }}</td></tr>

        <tr><td>
        <a class="actlinks" href="/delete/{{item.name}}">Remove</a></td></tr>
    </table>
</div>
{% endfor %}
</div>
<footer>
    <p>Select any image to go to product page</p>
  </footer>
{% endblock %}
